<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tullyapp.tully">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.camera2" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:name=".App"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/ParentMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c3f22bef7bd1b4825b34ed1156549ddbb0e92d64" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParentMaterialTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParentMaterialTheme.NoActionBar" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParentMaterialTheme.NoActionBar" />
        <activity
            android:name=".ArtistCreationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParentMaterialTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/ParentMaterialTheme.NoActionBar" />
        <activity
            android:name=".ReceiveActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.DeleteProjects"
            android:exported="false" />
        <service
            android:name=".Services.ReceivedCopyToTully"
            android:exported="false" />
        <service
            android:name=".Services.FirebaseDatabaseOperations"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OneTouchLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ParentMaterialTheme.NoActionBar" />
        <activity
            android:name=".ProjectActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tullyapp.tully.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LyricsEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContentView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProjectAudioListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReceivedCopyToTullyActivity"
            android:screenOrientation="portrait">

            <!--
                Capture content by MIME type, which is how Gmail broadcasts
                attachment open requests.  pathPattern and file extensions
                are ignored, so the MIME type *MUST* be explicit, otherwise
                we will match absolutely every file opened.
            -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where no
                 MIME type is provided in the Intent.  An Intent with a null
                 MIME type will never be matched by a filter with a set MIME
                 type, so we need a second intent-filter if we wish to also
                 match files with this extension and a non-null MIME type
                 (even if it is non-null but zero length).
            -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                -->
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp3" />
            </intent-filter>

            <!--
                 Capture file open requests (pathPattern is honoured) where a
                 (possibly blank) MIME type is provided in the Intent.  This
                 filter may only be necessary for supporting ES File Explorer,
                 which has the probably buggy behaviour of using an Intent
                 with a MIME type that is set but zero-length.  It's
                 impossible to match such a type except by using a global
                 wildcard.
            -->
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name"
                android:priority="50">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />

                <!--
                     Work around Android's ugly primitive PatternMatcher
                     implementation that can't cope with finding a . early in
                     the path unless it's explicitly matched.
                -->
                <data android:pathPattern=".*\\.mp3" />
                <data android:pathPattern=".*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.mp3" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.mp3" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SwitchTouchSignInActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.UploadPendings"
            android:exported="false" />
        <service
            android:name=".Services.DeletePendings"
            android:exported="false" />

        <receiver android:name=".Receiver.BlueetoothHeadset">
            <intent-filter>
                <action android:name="android.bluetooth.headset.action.STATE_CHANGED" />
                <!-- pre-2.0 intent name -->
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".IntercomActivity" />

        <service android:name=".FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Engineer.EngineerAccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterNavActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MasterPlayNoteActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".Services.ProcessPaymentService"
            android:exported="false" />

        <activity
            android:name=".LoopActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".MultiTrackMainActivity" />

        <service
            android:name=".Services.AudioAnalyzeService"
            android:exported="false"></service>


        <!--Activities added by Santosh P-->

        <activity android:name=".Collaboration.InviteActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Collaboration.AcceptInvitationActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name=".Collaboration.AcceptInvitationActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Collaboration.SubscribeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Collaboration.GroupChatActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Collaboration.CollaboratorPaymentActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Collaboration.CollaborationActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>